<h1>体調記録一覧</h1>

<table>
  <thead>
    <tr>
      <th>患者名</th>
      <th>日付</th>
      <th>体温</th>
      <th>食欲</th>
      <th>水分</th>
      <th>嘔吐</th>
      <th>記録者</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.patient&.name || '不明' %></td>
        <td><%= condition.input_day.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= condition.temperature %>℃</td>
        <td><%= condition.eat %></td>
        <td><%= condition.moisture %></td>
        <td><%= condition.puke %></td>
        <td><%= condition.recorder&.name || '不明' %></td>
        <td>
          <%= link_to '編集', edit_condition_path(condition) %>
          <%= link_to '削除', condition_path(condition), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>