<!-- app/views/conditions/new.html.erb -->
<h1>体調記録の作成</h1>

<%= form_with model: @condition, local: true do |form| %>
  <div>
    <%= form.label :記録日時 %>
    <%= form.date_field :input_day %>
  </div>
  
  <div>
    <%= form.label :体温 %>
    <%= form.number_field :temperature %>
  </div>
  
  <div>
    <%= form.label :食欲 %>
    <%= form.text_field :eat %>
  </div>
  
  <div>
    <%= form.label :水分 %>
    <%= form.text_field :moisture %>
  </div>
  
  <div>
    <%= form.label :嘔吐 %>
    <%= form.text_field :puke %>
  </div>
  
  <div>
    <%= form.label :メモ %>
    <%= form.text_area :memo %>
  </div>
  
  <div>
    <%= form.label :画像 %>
    <%= form.file_field :images, multiple: true %> <!-- 画像を複数選択できるようにする -->
  </div>
  
  <%= form.submit '作成' %>
<% end %>
