<h1 class="centered-title user-name"><%= @user ? @user.name : 'ユーザーが見つかりません' %> さん</h1>

<% if @user %>
  <div class="user-info-container">
    <p class="user-info large-text center-text">
      <strong>生年月日:</strong> <%= @user.birthday&.strftime("%Y年%-m月%-d日") %>
    </p>
    <p class="user-info large-text center-text">
      <% if @user.birthday %>
        <% age, months = @user.age_with_months %>
        <strong>年齢:</strong> <%= age %> 歳 <%= months %> ヶ月
      <% else %>
        生年月日がありません。
      <% end %>
    </p>
    
    <div class="icon-container">
      <%= link_to image_tag('ennpitu.png', class: 'icon-small'), '#new_condition', class: 'icon-link', title: '新しい体調記録を追加' %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="record-table">
      <thead>
        <tr>
          <th>日付</th>
          <th>体温</th>
          <th>食欲</th>
          <th>水分</th>
          <th>嘔吐</th>
          <th>メモ</th>
          <th>画像</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @conditions.each do |condition| %>
          <tr>
            <td data-label="日付"><%= condition.input_day.strftime("%Y/%m/%d %H:%M") %></td>
            <td data-label="体温"><%= condition.temperature %>℃</td>
            <td data-label="食欲"><%= condition.eat %></td>
            <td data-label="水分"><%= condition.moisture %></td>
            <td data-label="嘔吐"><%= condition.puke %></td>
            <td data-label="メモ"><%= truncate(condition.memo, length: 10) %></td>
            <td data-label="画像" class="image-cell">
              <% if condition.images.attached? %>
                <% condition.images.each do |image| %>
                  <%= image_tag image.variant(resize_to_limit: [50, 50]), class: 'record-image-small' %>
                <% end %>
              <% else %>
                画像なし
              <% end %>
            </td>
            <td data-label="操作" class="action-buttons">
  <%= link_to '編集', edit_condition_path(condition), class: 'btn btn-primary' %>
  <%= button_to '削除', condition_path(condition), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>ユーザー情報が見つかりません。</p>
<% end %>